<app-navbar></app-navbar>
<router-outlet></router-outlet>


<!--1. Định nghĩa BookModel-->
<!--2. Định nghĩa BookState-->
<!--3. Định nghĩa BookActions-->
<!--4. Định nghĩa BookReducers-->
<!--5. Viết service để gọi API lấy dữ liệu sách-->
<!--6. Viết effect để gọi service lấy dữ liệu sách-->
<!--6.1 Đăng ký bookReducer vào store (File App.config.ts)-->
<!--6.2 Đăng ký bookEffects vào store (File App.config.ts)-->
<!--7. Dispatch action fetchListBooks từ component home để gọi effect lấy dữ liệu sách-->
<!--8. Select listBooks từ store để hiển thị ra view-->
<!--9. Hiển thị listBooks ra view-->
<!--10. Xử lý loading, error-->
<!--11. Xử lý chuyển trang khi click vào 1 cuốn sách-->
