<div id="container">
<form [formGroup]="loginForm" (ngSubmit)="printEmail()">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input [formControl]="emailControl" matInput placeholder="Input email here...">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    @if(emailControl.invalid){
      <mat-error>{{ errorEmail() }}</mat-error>
    }
  </mat-form-field>
  </form>
  <form>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" [formControl]="passwordControl" matInput placeholder="Input password here...">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    @if(passwordControl.invalid){
      <mat-error>{{ errorPassword() }}</mat-error>
    }
  </mat-form-field>
</form>
</div>
<button type="submit" mat-flat-button [disabled]="emailControl.invalid || passwordControl.invalid" (click)="printEmail()">Print data</button>
